body {
    margin: 0;
    text-align: center;
    background-color: #262C36;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
header {
    background-color: #232323;
    color: #fff;
    padding: 1px;
    height: 50px;
    font-size: 14px;
}
footer {
    background-color: #213241;
    color: #fff;
    clear: both;
    padding: 4px;
    height: 45px;
}
#logo {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    float: left;
    height: 52px;
    width: 100px;
    margin-left: 145px;
    font-size: 23px;
}
#main-menu {
    list-style-type: none;
    display: inline;
    margin: 0 122px;
    padding: 5px;
    overflow: hidden;
    float: right;
}
.menu-items {
    float: left;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #C8C8C8;
    color: #213241;
}
.orange {
    color: orange;
}
.blue {
    color: #4676C0;
}
.active {
    border-bottom: 2px solid orange;
    padding-bottom: 11px;
    font-weight: bold;
}
#container {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    text-align: center;
}
#container-heading {
    font-size: 20px;
}
#hangout-benefits {
    width: 590px;
    display: inline-block;
    padding: 10px 205px;
    background: gray;
}
#desc {
    font-size: 18px;
    padding: 11px;
}
#hangout {
    width: 780px;
    display: inline-block;
    padding: 45px 110px;
    background: #5F6065;
    height: 43px;
}
.box {
    background: #000;
    height: 30px;
    width: 10px;
    padding: 15px 5px;
    font-size: 25px;
    border-radius: 2px;
    font-weight: bold;
}
.separator {
    padding: 14px;
    margin-left: 146px;
}
.spec {
    padding-left: 10px;
    height: 30px;
    width: 10px;
    padding: 7px;
    font-size: 10px;
}
.inner {
    float: left;
    width: 50%;
}
#note {
    width: 870px;
    display: inline-block;
    padding: 10px 65px;
    background: #34517E;
    height: 43px;
    margin: 10px;
}
#notify {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 30px;
}
#details {
    width: 62%;
    float: left;
    font-size: 14px;
}
#img {
    margin-top: 28px;
    margin-left: 44px;
    float: left;
    width: 180px;
    height: 158px;
}
#kobe-img {
    width: 180px;
    height: 157px;
    border-radius: 50%
}
#img-txt {
    position: absolute;
    bottom: 152px;
    left: 85px;
    font-weight: bold;
}
#details-heading {
    font-size: 16px;
    margin-right: 125px;
}
#details-menu {
    list-style-type: none;
    float: left;
    margin-top: 0;
    width: 400px;
    line-height: 25px;
    margin-bottom: 0;
    padding-left: 0;
}
.title-items {
    width: 155px;
    text-align: right;
    color: #C8C8C8;
    font-size: 13px;
    display: block;
    float: left;
}
.desc-items {
    width: 235px;
    text-align: left;
    float: left;
    padding-left: 10px;
}
#donation {
    width: 38%;
    float: right;
}
#donation-heading {
    margin-left: 24px;
}
.donation-box {
    border: 2px solid orange;
    width: 220px;
    padding: 9px;
    font-size: 14px;
    margin: 0 86px 17px;
}
#criteria {
    margin-left: 392px;
    margin-top: 170px;
    text-align: left;
    height: 35px;
    font-size: 12px;
    font-style: italic; 
    color: #C8C8C8;
}
#read {
    clear: both;
    margin-bottom: 62px;
    padding-top: 65px;
    font-size: 14px;
}
.footer-menu {
    list-style-type: none;
    margin: 0 75px;
    font-size: 14px;
}
#footer-content {
    float: right;
    margin-right: 122px;
}