body {
    margin: 0;
    text-align: center;
    background-color: #262C36;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}
header {
    background-color: #232323;
    padding: 1px;
    height: 60px;
    font-size: 14px;
}
footer {
    background-color: #213241;
    clear: both;
    padding: 4px;
    height: 45px;
}
#border-content {
    width: 80%;
    height: 50px;
    margin: 0 auto;
}
#logo {
    font-style: italic;
    text-align: left;
    float: left;
    height: 52px;
    width: 100px;
    margin-top: 4px;
    font-size: 23px;
}
#main-menu {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 10px 0;
    float: right;
}
.menu-items {
    float: left;
}
.nav-items {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-items:hover:not(.active) {
    background-color: #C8C8C8;
    color: #213241;
}
.highlighter {
    color: orange;
}
.section-title {
    color: #4676C0;
}
.nav-items-active {
    border-bottom: 2px solid orange;
    padding-bottom: 19px;
    font-weight: bold;
}
#container {
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
}
#container-heading {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
#hangout-benefits {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background: gray;
    font-weight: bold;
}
#desc {
    font-size: 18px;
    padding: 11px;
}
#hangout-start-container {
    width: 100%;
    padding: 45px 0;
    background: #5F6065;
    height: 43px;
}
.hangout-section {
    float: left;
    width: 45%;
    padding-left: 45px;
}
.hangout-section-head {
    width: 40%;
    font-weight: bold;
    float: left;
}
.hangout-section-counter {
    display: block;
    width: 50px;
    float: left;
}
.box {
    background: #000;
    height: 30px;
    width: 10px;
    padding: 15px 5px;
    font-size: 25px;
    border-radius: 2px;
    font-weight: bold;
}
.spec {
    height: 15px;
    width: 35px;
    font-size: 10px;
    float: left;
    padding-left: 7px;
    padding-top: 19px;
}
#note {
    width: 900px;
    padding: 10px 65px;
    background: #34517E;
    height: 43px;
    margin-top: 10px;
    font-weight: bold;
}
#notify {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: bold;
}
#details {
    width: 70%;
    float: left;
    font-size: 14px;
}
#kobe-bryant {
    width: 180px;
    height: 157px;
    border-radius: 50%;
    float: left;
    background-image: url("kobe.png");
    background-size: 100% 100%;
    margin: 20px;
}
#img-txt {
    font-weight: bold;
    margin-top: 125px;
}
#details-heading {
    width: 45%;
    float: left;
    font-size: 16px;
    font-weight: bold;
}
#details-menu {
    list-style-type: none;
    float: left;
    width: 60%;
    line-height: 25px;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}
.title-items {
    width: 165px;
    text-align: right;
    color: #C8C8C8;
    font-size: 13px;
    display: block;
    float: left;
}
.desc-items {
    width: 235px;
    text-align: left;
    float: left;
    padding-left: 10px;
}
#donation {
    width: 30%;
    float: right;
    font-weight: bold;
}
.donation-box {
    border: 2px solid orange;
    width: 80%;
    padding: 9px;
    font-size: 14px;
    margin: 0 20px 17px;
}
#criteria {
    width: 250px;
    text-align: left;
    height: 35px;
    font-size: 12px;
    font-style: italic; 
    color: #C8C8C8;
    clear: left;
    float: right;
    margin-right: 65px;
}
#read {
    clear: both;
    padding-top: 45px;
    font-size: 13px;
    height: 70px;
}
#footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 14px;
}
#footer-list {
    list-style-type: none;
    float: right;
    margin: 0;
    font-size: 14px;
}